:root {
    --ft-color-less: #0277bd;
    --ft-background-color-less: #1562a8;
    --ft-border-color-less: #154d93;
    --ft-shadow-color-less: #178cd284;
    --ft-color-lit: #1e78dd;
    --ft-background-color-lit: #1563c8;
    --ft-border-color-lit: #154eb3;
    --ft-shadow-color-lit: #338dd284;
    --ft-color-nodejs: #8bc34a;
    --ft-background-color-nodejs: #76ae35;
    --ft-border-color-nodejs: #619920;
    --ft-shadow-color-nodejs: #a0d25f84;
    --ft-color-preact: #673ab8;
    --ft-background-color-preact: #5225a3;
    --ft-border-color-preact: #3d158e;
    --ft-shadow-color-preact: #7c4fcd84;
    --ft-color-react: #15d8ea;
    --ft-background-color-react: #15c3d5;
    --ft-border-color-react: #15aec0;
    --ft-shadow-color-react: #2ad2d284;
    --ft-color-sass: #ec407a;
    --ft-background-color-sass: #d72b65;
    --ft-border-color-sass: #c21650;
    --ft-shadow-color-sass: #d2558f84;
    --ft-color-solid: #5482ba;
    --ft-background-color-solid: #3f6da5;
    --ft-border-color-solid: #2a5890;
    --ft-shadow-color-solid: #6997cf84;
    --ft-color-stylus: #c0ca33;
    --ft-background-color-stylus: #abb51e;
    --ft-border-color-stylus: #96a015;
    --ft-shadow-color-stylus: #d2d24884;
    --ft-color-svelte: #ea3e15;
    --ft-background-color-svelte: #d52915;
    --ft-border-color-svelte: #c01515;
    --ft-shadow-color-svelte: #d2532a84;
    --ft-color-typescript: #157acc;
    --ft-background-color-typescript: #1565b7;
    --ft-border-color-typescript: #1550a2;
    --ft-shadow-color-typescript: #2a8fd284;
    --ft-color-vite: #ccb18b;
    --ft-background-color-vite: #b79c76;
    --ft-border-color-vite: #a28761;
    --ft-shadow-color-vite: #d2c6a084;
    --ft-color-vue: #41b883;
    --ft-background-color-vue: #2ca36e;
    --ft-border-color-vue: #178e59;
    --ft-shadow-color-vue: #56cd9884;
}
